.container{
  border: 2px solid black;
  height: 100px;
  margin: 50px;
  width: 100px;

}
.main{
  border: 2px solid black;
  display: flex;
  justify-content: center;
  margin: 100px;
}

.main2{
  border: 2px solid black;
  justify-content: center;
  display: flex;
  margin: 100px;
}